name: Testdekning JaCoCo og Sonar

on:
  workflow_dispatch:
  pull_request:


jobs:
  integrasjonstester:
    name: Integrasjonstester
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # ratchet:actions/checkout@v4
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # ratchet:actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
          cache: 'maven'
      - name: Kjør integrasjonstester
        env:
          GITHUB_USERNAME: x-access-token
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mvn install --no-transfer-progress --settings .m2/maven-settings.xml --file pom.xml -Dsurefire.rerunFailingTestsCount=2 -Pjacoco
      - name: Last opp JaCoCo rapport
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # ratchet:actions/upload-artifact@v4
        with:
          name: jacoco
          path: target/site/jacoco/jacoco.xml
          retention-days: 1
          overwrite: true

#  sonar:
#    name: Sonar
#    runs-on: ubuntu-latest
#    needs: [integrasjonstester]
#    if: github.actor != 'dependabot[bot]'
#    steps:
#      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # ratchet:actions/checkout@v4
#        with:
#          fetch-depth: 0
#      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # ratchet:actions/setup-java@v4
#        with:
#          java-version: 21
#          distribution: 'temurin'
#          cache: 'maven'
#      - name: Last ned JaCoCo rapport
#        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # ratchet:actions/download-artifact@v4
#        with:
#          name: jacoco
#          path: target/site/jacoco
#      - name: Cache Sonar packages
#        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # ratchet:actions/cache@v4
#        with:
#          path: ~/.sonar/cache
#          key: ${{ runner.os }}-sonar
#          restore-keys: ${{ runner.os }}-sonar
#      - name: Kjør Sonar
#        env:
#          GITHUB_USERNAME: x-access-token
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#          SONAR_PROJECTKEY: ${{ secrets.SONAR_PROJECTKEY }}
#          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
#        run: |
#          mvn sonar:sonar -Dsonar.coverage.jacoco.xmlReportPaths="jacoco/jacoco.xml"
